@model DatabaseProvider.Student
@{
    ViewBag.Title = "ReturnStudentByID";
}

<h2> Student's ID= @Model.ID    <br/>      Name= @Model.STU_NAME    <br /> ClassID= @Model.CLA_ID 
    DepartmentID= @Model.DEP_ID<br />  UniversityID= @Model.UNI_ID <br /> Date of birth= @Model.DATE_OF_BIRTH  
    
    </h2>

